body {
  color: #ffffff;
  font-family: 'glacier';
}

@font-face {
  font-family: 'glacier';
  src: url('fonts/gi-regular.otf') format('opentype');
}

@font-face {
  font-family: 'glacier';
  src: url('fonts/gi-italic.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'glacier';
  src: url('fonts/gi-bold.otf') format('opentype');
  font-weight: bold;
}

#splash {
  text-align: center;
  overflow: hidden;
}

#splash img {
  width: auto;
  height: 7.5vw;
}

#splash h2 {
  font-family: 'glacier';
  font-weight: bold;
  font-size: 1.75vw;
}

#splash h1 {
  font-family: 'glacier';
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 1;
}

#background {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 1;
}

video::-webkit-media-controls {
  display:none !important;
}

.front {
		position: absolute;
		z-index: 2;
		width: 100%;
    height: 100%;
    margin: auto;
		top: 0;
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
}

.header {
  position: absolute;
  width: 100%;
  height: auto;
  top: 5%;
}

.header table {
  margin: 0 auto;
  width: 75%;
  height: auto;
  text-align: center;
  table-layout: fixed;
}

.bcr {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 30%;
}
